

.title {
    font-family: 'Cookie', 'sans-serif';
    font-size: 10em;
    color: red;
}

.stitle {
    font-family: 'Raleway', 'sans-serif';
}

.s3title {
    font-family: 'Raleway', 'sans-serif';
    color: orangered;
    line-height: 1.3em;
}