<!DOCTYPE html>
<html lang="en" ng-app="TenrinhosApp">
<head>
    <meta charset="UTF-8">
    <title>Tenrinho Christmas 2k16</title>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center title">
                Tenrinhos Christmas 2k16
            </h1>
        </div>
        <div ng-controller="TenrinhosController as tenr">
            <div class="row text-center">
                <h3 class="stitle">Esta é a aplicação Tenrinhos "Verify" ;P</h3>
                
                <br>
                <div class="row">
                    <h4 class="stitle">Este é o Tenrinho "BOT" a falar insere aqui o teu nome para saberes o que penso de ti:</h4>
                </div>
                <br>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-sm-2 col-xs-3 control-label">Nome:</label>
                            <div class="col-sm-8 col-xs-7">
                                <input type="text" class="form-control" ng-model="tenr.name">
                            </div>
                            <div class="col-sm-2 col-xs-2" ng-show="tenr.showNome">
                                <span class="col-sm-2 glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 col-xs-3 control-label">Sobrenome:</label>
                            <div class="col-sm-8 col-xs-7">
                                <input type="text" class="form-control" ng-model="tenr.sobrenome">
                            </div>
                            <div class="col-sm-2 col-xs-2" ng-show="tenr.showSobrnome">
                                <span class="col-sm-2 glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </div>                      
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="tenr.checkName()">Verify</button>
                        </div>
                               
                    </div>
                </div>
                
                
                <h3 ng-if="tenr.show" class="stitle">{{tenr.says}}</h2>
            
            </div>

        </div>
    </div>
</body>
</html>